.tab {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}

.tab .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tab .content {
  padding: 20px;
}
table{
  width: 100%;
  text-align: left;
  padding: 12px;
  margin: 50px 0;
}
table tr td{
  margin: 10px 0;
  height: 40px;
  border-bottom: 1px solid black;
}
.tabs_top{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.single_tab{
  height: 30px;
  padding: 12px;
}
.single_tab:hover{
  border-bottom: 4px solid rebeccapurple;
  transition: all ease-in-out 0.5s;
}